main{
    padding: 0.2%;
    min-height: 2rem 0;
}
form fieldset{
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}
footer{
    background: #ddd;
    padding: .5rem 2%;
    text-align: center;
}
fieldset table{
    border-collapse: collapse;
    width: 40%;
    height: 5%;
    text-align: left;
    color: #000;
    margin:0 .1rem;
}
form legend{
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
}
form input.submit{
    border: none;
    background-color: green;
    color: white;
    border-radius: 1rem;
    padding: .8rem 2rem;
    margin: 1 2 2rem .1%;
    margin-top: 3em;
}
